<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangsan.week.dao.PlantMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhangsan.week.domain.Plant">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="category" property="category" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<resultMap id="PlantVoMap" type="com.zhangsan.week.vo.PlantVo">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
	<!-- <association property="category" javaType="com.zhangsan.week.domain.Category">
			<result column="categoryName" property="name"/>
		</association> -->
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, description, category, create_time
	</sql>
	<select id="selectAllPlants" resultMap="PlantVoMap">
		SELECT
		t_plant.id AS id,
		t_plant.name AS name,
		t_plant.description AS description
		t_category.name AS categoryName
		FROM
		t_category
		left JOIN t_plant ON t_category.id = t_plant.category
		${ew.customSqlSegment}
	</select>
</mapper>
